apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  
  strategy:
    blueGreen: 
      activeService: {{ .Release.Name }}
      previewService: {{ .Release.Name }}-preview
      autoPromotionEnabled: {{ .Values.blueGreen.autoPromotionEnabled }}
      scaleDownDelaySeconds: 30

  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Release.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default "latest" }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.containerPort }}
              protocol: TCP
          
          envFrom:
            - configMapRef:
                name: global-configs
            - secretRef:
                name: foodhub-secrets

          {{- if .Values.env }}
          env:
            {{- toYaml .Values.env | nindent 12 }}
          {{- end }}

          readinessProbe:
            httpGet:
              path: {{ .Values.probePath }}
              port: {{ .Values.containerPort }}
            initialDelaySeconds: {{ .Values.readinessDelay }}
            periodSeconds: 10
            failureThreshold: 5
          livenessProbe:
            httpGet:
              path: {{ .Values.probePath | replace "readiness" "liveness" }}
              port: {{ .Values.containerPort }}
            initialDelaySeconds: {{ .Values.livenessDelay }}
            periodSeconds: 15

          resources:
            {{- toYaml .Values.resources | nindent 12 }}